@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */

/* START: Hero styles */
.hero {
  @apply flex lg:flex-row flex-col relative h-screen items-center z-0 mx-auto ;
}

.hero__text-container{
  @apply lg:flex-1 flex flex-col items-start justify-center padding-y padding-x;
}
.hero__title {
  @apply 2xl:text-[72px] lg:text-[55px] text-[50px] text-primary-green;
}

.hero__subtitle {
  @apply text-[27px] text-secondary-color font-light mt-5;
}

.hero__video-container {
  @apply xl:flex-[1.5] lg:flex-[1.3] flex w-full lg:h-[90vh] h-[40vw] overflow-hidden ;
}

.hero__video {
  @apply object-cover w-full ;
}
/* END: Hero styles */

/* START: Footer styles */
.header__button{
  @apply  text-secondary-color;

}
.header__button:hover{
  @apply  text-white bg-secondary-color 
}

.header__button-login{
  @apply text-white bg-secondary-color rounded-full
}
/* END: Hero styles */

/* START: Footer styles */
.footer {
  @apply flex flex-col text-black-100  mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}
/* END: Footer styles */