@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  @apply bg-primary-bg;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center;
}

#detach-button-host {
  display: none !important;
}

/* END: General styles */

/* START: Hero styles */
.hero {
  @apply flex lg:flex-row flex-col relative h-screen justify-around items-center z-0 mx-auto;
}

.hero__text-container {
  @apply lg:flex-1 flex flex-col items-start justify-center padding-y padding-x;
}

.hero__title {
  @apply 2xl:text-[4.5em] lg:text-[3.2em] text-[2.9em] text-primary-green;
}

.hero__subtitle {
  @apply text-[1.5em] text-secondary-color font-light mt-5;
}

.hero__video-container {
  @apply xl:flex-[2] lg:flex-[1.4] flex w-full lg:h-[75vh] h-[40vh] overflow-hidden lg:rounded-l-3xl;
}

.hero__video {
  @apply object-cover w-full;
}

/* END: Hero styles */

/* START: Header styles */
.header__button {
  @apply text-secondary-color py-2 px-3 underline;

}

.header__button:hover {
  @apply text-primary-bg bg-secondary-color
}

.header__button-login {
  @apply text-primary-bg bg-secondary-color rounded-full py-2 px-6
}

/* END: Header styles */

/* START: Footer styles */
.footer__button-email {
  @apply text-primary-bg bg-primary-green rounded-full py-1 px-6
}

.footer__text {
  @apply text-primary-bg
}

.footer__input {
  @apply text-xl w-full border-solid border-b-2 border-primary-bg py-1 bg-transparent outline-none text-[18px] min-w-[250px];
}

.footer__label {
  @apply absolute top-[5px] left-[0] transition-all duration-300 ease-in-out text-[18px];
}

.footer__input:focus~.footer__label,
.footer__input:invalid~.footer__label {
  @apply top-[-20px] text-[16px] text-gray-200;
}

/* END: Footer styles */

/* Start: About styles */

.about__title {
  @apply 2xl:text-[4em] lg:text-[3.2em] text-[2.9em] text-primary-green;
}

.about__text-container {
  @apply flex flex-col gap-5 lg:w-[350px] w-full text-secondary-color;
}

.about__text-container h2 {
  @apply 2xl:text-[2.5em] text-[2em];
}

/* END: About styles */

/* Start: Nutricionista styles */

.nutri__title {
  @apply 2xl:text-[4em] lg:text-[3.2em] text-[2.9em] text-primary-bg;
}

.nutri__text-container {
  @apply flex flex-col gap-5 lg:w-[350px] w-full text-primary-bg;
}

.nutri__text-container h2 {
  @apply 2xl:text-[2.5em] text-[2em];
}

/* END: Nutricionista styles */

/* Start: whoweare styles */
.whoweare {
  @apply padding-x lg:h-screen flex flex-col py-[5rem] gap-5;
}

.whoweare__hero {
  @apply relative overflow-hidden rounded-[4rem];
}

.whoweare__title {
  @apply 2xl:text-[4em] lg:text-[3.2em] sm:text-[2.9em] text-[2.3em] text-primary-bg drop-shadow-2xl;
}

.whoweare__subtitle {
  @apply lg:text-[1.3em] lg:max-w-[70%] text-[1.1em] text-secondary-color;
}

.whoweare__text {
  @apply flex flex-col gap-5 padding-x text-center items-center;
}

/* END: whoweare styles */

/* Start: equipe styles */
.equipe {
  @apply padding-x padding-y;
}

.equipe__text {
  @apply lg:text-[3.5em] text-[3em] text-primary-green;
}

.equipe__card-container {
  @apply w-full flex flex-row gap-5 flex-wrap justify-around;
}

/* END: equipe styles */

/* Start: cards styles */

.card {
  @apply flex flex-col gap-5 w-auto p-3 rounded-[1.75rem];
}

.card__image-container {
  @apply relative w-[250px] h-[250px] overflow-hidden rounded-[1rem] justify-center;
}

.card__text-container {
  @apply flex flex-col items-center justify-around text-secondary-color;
}

.card__name {
  @apply lg:text-[1.6em] text-[1.4em];
}

/* END: cards styles */

/* Start: ourValues styles */
.ourvalues {
  @apply flex justify-between bg-primary-green text-primary-bg h-[70vh] gap-5;
}

.ourvalues__text-container {
  @apply flex-[2] flex flex-col gap-5 padding-x h-full justify-center;
}

.ourvalues__title {
  @apply lg:text-[3.5em] text-[3em];
}

.ourvalues__item {
  @apply bg-secondary-color py-2 px-5 rounded-full flex gap-2 text-[1.7em];
}

.ourvalues__image-container {
  @apply hidden lg:flex xl:flex-1 flex-[2] relative w-[500px] h-full overflow-hidden;
}

/* END: ourValues styles */

/* Start: ChatBot styles */

.chat__input-container {
  @apply flex items-end bg-secondary-color py-2 px-4 rounded-3xl;
}

.chat__input {
  @apply flex-1 flex text-primary-bg py-2 
  px-4 resize-none overflow-hidden border-none 
  rounded bg-transparent h-[10px] items-end;
}

.chat__input:focus {
  @apply outline-none;
}

.markdonw-content {
  @apply py-2 px-4 w-fit rounded-full text-[1.1em];
}

.markdonw-content-firstmessage {
  @apply w-fit h-fit items-center text-center self-center text-[1.5em] max-w-[600px] mb-4;
}
.markdonw-content-firstmessage p{
  @apply text-center;
}

.markdonw-content-user {
  @apply bg-primary-green self-end mb-4;
}

.markdonw-content-ai {
  @apply text-left;
}

.markdonw-content-ai p {
  @apply mb-4;
}

.markdonw-content-ai ul,
ol {
  @apply mb-4 ml-[40px] list-disc;
}

.markdonw-content-ai h3 {
  @apply text-lg mb-4;
}

.markdonw-content-ai hr {
  @apply bg-primary-green rounded-full border-none my-[20px] h-[3px];
}

/* END: ChatBot styles */

/* Start: ChatOptions styles */

.chatOptions {
  @apply gap-5 lg:relative absolute h-screen padding-y 
  flex flex-col border-solid
  border-secondary-color transition-all ease-in-out duration-300;
}

/* END: ChatOptions styles */