@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  @apply bg-primary-bg;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center;
}

.article {
  @apply flex flex-col gap-3 font-Poppins text-lg tracking-wide mb-20;
}

.article > p {
  @apply text-justify;
}

.article > p > img {
  @apply md:w-2/3 w-full mx-auto;
}

.article > h1{
  @apply font-STIX md:text-5xl text-4xl md:text-center tracking-tight font-bold my-3;
}

.article > h2{
  @apply font-STIX text-3xl tracking-tight font-bold mb-3 mt-5;
}

.article > ol{
  @apply list-decimal flex flex-col mx-10 gap-2 text-justify;
}

.article > ul{
  @apply list-disc flex flex-col mx-10 gap-2;
}

.article > pre{
  @apply bg-userText-bg text-neutral-50 p-5 overflow-scroll;
}

.article > blockquote{
  @apply pl-5 italic border-l-2 border-neutral-600 border-opacity-40;
}

::view-transition-old(root),
::view-transition-new(root){
  animation: none !important;
}

::view-transition-group(root){
  z-index: auto !important;
}

::view-transition-image-pair(root){
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root){
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root){
  z-index: 1;
  animation: none !important;
}

#detach-button-host {
  display: none !important;
}

.noise::after{
  content: "";
  @apply absolute w-full h-full inset-0 mix-blend-overlay pointer-events-none rounded-3xl text-center opacity-[.7];
  background: 
  url("data:image/svg+xml;utf8,<svg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='1.74' numOctaves='3' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noiseFilter)'/></svg>");
}

.noiseFull::after{
  content: "";
  @apply absolute w-full h-full inset-0 mix-blend-overlay pointer-events-none rounded-3xl text-center opacity-[1];
  background: 
  url("data:image/svg+xml;utf8,<svg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='1.74' numOctaves='3' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noiseFilter)'/></svg>");
}

/* END: General styles */

/* START: Hero styles */
.hero {
  @apply flex flex-col relative h-screen
  padding-x xl:pt-0 md:pt-[2em] pt-[3em] 
  justify-around items-center z-0 mx-auto gap-10
  overflow-hidden;
}

.hero__text-container {
  @apply flex h-full md:items-center items-end md:justify-between justify-center gap-4 w-full flex-row;
}

.hero__title {
  @apply relative w-fit leading-[1em] font-alumni text-white italic tracking-widest
  xl:text-[16em] md:text-[10em] text-[20vw];
}

.hero__subtitle {
  @apply relative md:text-[1.3em] text-[1em] tracking-[1.3em] text-white;
}

.hero__imgContent{
  @apply md:absolute relative xl:w-[40em] md:w-[30em] w-[80vw] z-[-1] md:h-[90%] h-[200vh]  bottom-0;
}

.MarqueeHero {
  @apply bottom-[5%] absolute z-[-1] bg-primary-bg md:py-5 py-2;
}

.MarqueeHero::after {
  content: "";
  z-index: 1;
  @apply w-full top-0 left-0 h-full absolute;
  background-image: linear-gradient(90deg, rgba(15, 15, 15, 1) 0%, rgba(0, 0, 0, 0) 10%),
    linear-gradient(90deg, rgba(0, 0, 0, 0) 90%, rgba(15, 15, 15, 1) 100%);
}

/* END: Hero styles */

/* START: Header styles */
.header__button {
  @apply relative text-white py-1 px-3 flex justify-center items-center overflow-visible bg-primary-bg;
}

.header__button::after {
  content: "";
  @apply absolute w-full h-full;
  z-index: -1;
  background-color: #99f5ff;
  background-image:
    radial-gradient(at 62% 16%, hsla(261, 77%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 4% 29%, hsla(176, 86%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 41% 42%, hsla(112, 90%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 24% 19%, hsla(114, 80%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 85% 34%, hsla(244, 94%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 1% 43%, hsla(85, 88%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 38% 19%, hsla(312, 75%, 63%, 1) 0px, transparent 50%);

}

.header__button:hover::after {
  @apply top-1;
}

.header__button-login {
  @apply relative text-white bg-primary-bg rounded-full py-2 px-6 flex overflow-visible justify-center items-center;
}

.header__button-login:hover {
  @apply text-primary-bg bg-black;
  background-color: #99f5ff;
  background-image:
    radial-gradient(at 62% 16%, hsla(261, 77%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 4% 29%, hsla(176, 86%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 41% 42%, hsla(112, 90%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 24% 19%, hsla(114, 80%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 85% 34%, hsla(244, 94%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 1% 43%, hsla(85, 88%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 38% 19%, hsla(312, 75%, 63%, 1) 0px, transparent 50%);
}

.header__button-login::after {
  content: "";
  @apply absolute w-[calc(100%+4px)] h-[calc(100%+4px)] rounded-full;
  z-index: -1;
  background-color: #99f5ff;
  background-image:
    radial-gradient(at 62% 16%, hsla(261, 77%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 4% 29%, hsla(176, 86%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 41% 42%, hsla(112, 90%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 24% 19%, hsla(114, 80%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 85% 34%, hsla(244, 94%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 1% 43%, hsla(85, 88%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 38% 19%, hsla(312, 75%, 63%, 1) 0px, transparent 50%);
}

/* END: Header styles */

/* START: Footer styles */
.footer__button-email {
  @apply text-primary-bg bg-white rounded-full py-1 px-6
}

.footer__text {
  @apply text-white
}

.footer__input {
  @apply text-xl w-full border-solid border-b-2 border-white py-1 bg-transparent outline-none text-[18px] min-w-[250px];
}

.footer__label {
  @apply absolute top-[5px] left-[0] transition-all duration-300 ease-in-out text-[18px];
}

.footer__input:focus~.footer__label,
.footer__input:invalid~.footer__label {
  @apply top-[-20px] text-[16px] text-gray-200;
}

/* END: Footer styles */

/* Start: Ai styles */
.Ai__ImageContainer{
  @apply inline w-full h-full z-[-1] overflow-hidden;
}

.Ai__Image{
  @apply w-full;
}

.Ai__TextContainer{
  @apply flex w-full justify-center items-center flex-col padding-x gap-7 py-20;
}

.Ai__text{
  @apply lg:text-[4em] text-[2.5em] text-center flex flex-wrap gap-x-5 justify-center text-white;
}

.Ai__button {
  @apply relative text-white text-[2em] bg-black  py-2 px-6 flex overflow-visible justify-center items-center transition-all ;
}

.Ai__button:hover {
  @apply  bg-primary-bg;
}

/* .Ai__button::after {
  content: "";
  @apply absolute w-[calc(100%+4px)] h-[calc(100%+4px)] rounded-3xl;
  z-index: -1;
  background-color: #99f5ff;
  background-image:
    radial-gradient(at 62% 16%, hsla(261, 77%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 4% 29%, hsla(176, 86%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 41% 42%, hsla(112, 90%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 24% 19%, hsla(114, 80%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 85% 34%, hsla(244, 94%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 1% 43%, hsla(85, 88%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 38% 19%, hsla(312, 75%, 63%, 1) 0px, transparent 50%);
} */


/* END: Ai  styles */

/* Start: About styles */
.about {
  @apply flex flex-col justify-center gap-10 padding-x py-20;
  /* background-color: #99ff9c;
  background-image:
    linear-gradient(180deg, rgba(15, 15, 15, 1) 0%, rgba(0, 0, 0, 0) 20%),
    radial-gradient(at 4% 14%, hsla(103, 85%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 55% 44%, hsla(192, 63%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 74% 97%, hsla(150, 85%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 61% 91%, hsla(183, 77%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 72% 86%, hsla(257, 98%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 26%, hsla(301, 81%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 88% 33%, hsla(255, 93%, 70%, 1) 0px, transparent 50%); */
}

.about__title {
  @apply 2xl:text-[8em] md:text-[6em] text-[13vw] xl:w-[70%] text-primary-color italic leading-[1.1em];
}

.about__text-container {
  @apply flex flex-col gap-5 lg:w-[25em] lg:text-[1.5em] text-[1.3em] lg:self-end text-justify text-primary-color;
}

.about__video-container {
  @apply relative flex lg:h-[75vh] h-[30em] w-[100%] pl-[5%] md:justify-start justify-center items-center;
}

.about_noiseFilter{
  @apply absolute w-full h-full inset-0 mix-blend-overlay pointer-events-none rounded-3xl text-center;
  background: 
  url("data:image/svg+xml;utf8,<svg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='1.74' numOctaves='3' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noiseFilter)'/></svg>");
}

.about_video-text{
  @apply relative text-white lg:text-[10em] text-[14vw] tracking-widest font-alumni italic;
}

.about_video-text::after{
  content: "";
  @apply absolute w-full h-[2px] bg-white bottom-[20%] left-0;
}

.about__video {
  @apply absolute h-full left-0 top-0 object-cover w-full rounded-3xl;
}

/* END: About styles */

/* Start: Nutricionista styles */

.nutri__images-container{
  @apply hidden relative xl:grid w-[40em] gap-5;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "f1 f1 .  .  "
  "f1 f1 f2 f2 "
  "f1 f1 f2 f2 "
  "f3 f3 f2 f2 "
  "f3 f3 .  . ";
}

.nutri__images{
  @apply saturate-0;
}

.nutri__text{
  @apply md:text-[3em] text-[10vw] flex flex-row gap-5 flex-wrap justify-center  text-white text-center;
}

.nutri__button {
  @apply relative text-white text-[2em] bg-black  py-2 px-6 flex overflow-visible justify-center items-center transition-all ;
}

.nutri__button:hover {
  @apply  bg-primary-bg;
}

/* END: Nutricionista styles */

/* Start: whoweare styles */
.whoweare {
  @apply padding-x lg:h-screen flex flex-col py-[5rem] gap-5;
}

.whoweare__hero {
  @apply relative overflow-hidden rounded-[4rem];
}

.whoweare__title {
  @apply 2xl:text-[4em] lg:text-[3.2em] sm:text-[2.9em] text-[2.3em] text-primary-bg drop-shadow-2xl;
}

.whoweare__subtitle {
  @apply lg:text-[1.3em] lg:max-w-[70%] text-[1.1em] text-secondary-color;
}

.whoweare__text {
  @apply flex flex-col gap-5 padding-x text-center items-center;
}

/* END: whoweare styles */

/* Start: blogHome styles */

.blogHome__itensContent{
  @apply mx-auto xl:columns-4 w-full md:columns-2;
}
/* END: blogHome styles */

/* Start: equipe styles */
.equipe {
  @apply padding-x py-10;
}

.equipe__text {
  @apply  lg:text-[5em] text-[3.5em] font-Poppins leading-[1em] font-semibold text-white uppercase overflow-hidden;
}

.equipe__card-container {
  @apply w-full 2xl:columns-5 lg:columns-4 md:columns-3 sm:columns-2 gap-3;
}

/* END: equipe styles */

/* Start: cards styles */

.card {
  @apply relative flex flex-col w-fit px-3 h-fit mx-auto;
}

.card__image-container {
  @apply relative w-full overflow-hidden justify-center;
}

.card__text-container {
  @apply flex flex-col justify-around;
}

.card__name {
  @apply text-[2.5em] text-white italic leading-[1em] font-alumni;
}

/* END: cards styles */

/* Start: ourValues styles */
.ourvalues {
  @apply flex justify-between bg-primary-green text-primary-bg h-[70vh] gap-5;
}

.ourvalues__text-container {
  @apply flex-[2] flex flex-col gap-5 padding-x h-full justify-center;
}

.ourvalues__title {
  @apply lg:text-[3.5em] text-[3em];
}

.ourvalues__item {
  @apply bg-secondary-color py-2 px-5 rounded-full flex gap-2 text-[1.7em];
}

.ourvalues__image-container {
  @apply hidden lg:flex xl:flex-1 flex-[2] relative w-[500px] h-full overflow-hidden;
}

/* END: ourValues styles */

/* Start: ChatBot styles */

.chat__input-container {
  @apply flex items-end bg-userText-bg py-2 px-4 rounded-3xl;
}

.chat__input {
  @apply flex-1 flex text-white py-2 px-4 resize-none overflow-hidden border-none rounded bg-transparent h-[10px] items-end;
}

.chat__input:focus {
  @apply outline-none;
}

.markdown-content {
  @apply py-2 px-4 w-fit rounded-3xl text-[1.1em];
}

.markdown-content-firstmessage {
  @apply w-fit h-fit items-center self-center text-white sm:text-[1.5em] text-[5vw] sm:px-[13%] px-4 mb-4;
}

.markdown-content-firstmessage p {
  @apply sm:text-center;
}

.markdown-content-user {
  @apply bg-userText-bg self-end mb-4 text-white;
}

.markdown-content-ai {
  @apply text-left text-white;
}

.markdown-content-ai p {
  @apply mb-4;
}

.markdown-content-ai ul,
ol {
  @apply mb-4 ml-[40px] list-disc;
}

.markdown-content-ai h3 {
  @apply text-lg mb-4;
}

.markdown-content-ai hr {
  @apply bg-primary-green rounded-full border-none my-[20px] h-[3px];
}

/* END: ChatBot styles */

/* Start: ChatOptions styles */

.chatOptions {
  @apply gap-5 lg:relative absolute h-screen padding-y flex flex-col border-solid border-secondary-color transition-all ease-in-out duration-300 bg-secundary-bg;
}

.chatbot__itens {
  @apply relative flex rounded-lg w-full overflow-hidden px-2 hover:bg-secondary-color transition-all gap-1 duration-150 justify-between items-center;
}

.chatbot__itens-textlink {
  @apply flex-1 overflow-hidden py-2;
}

.button__newchat {
  @apply bg-secundary-bg hover:bg-userText-bg border-2 border-userText-bg mx-3 px-3 py-2 rounded-xl transition-all duration-150 text-white text-nowrap w-[90%];
}

.chatbot__itens-text {
  @apply text-transparent text-white bg-clip-text bg-gradient-to-r from-white from-90% via-white via-90% to-transparent;
}

.chatbot__itens:hover .chatbot__itens-text {
  @apply font-semibold text-transparent bg-clip-text bg-gradient-to-r from-white from-80% via-white via-80% to-transparent;
}

.chatbot__itens-text-active .chatbot__itens-text {
  @apply font-semibold text-transparent bg-clip-text bg-gradient-to-r from-white from-90% via-white via-90% to-transparent;
}

.chatbot__itens-button {
  @apply sm:hidden inline sm:opacity-0 opacity-100 rounded-lg  text-white transition-all duration-100 text-center hover:bg-userText-bg;
}

.chatbot__itens-button:hover .chatbot__SVG{
  @apply fill-primary-bg;
}

.chatbot__itens:hover .chatbot__itens-button {
  @apply inline opacity-100;
}

.typing-animation {
  display: inline-block;
}

.typing-cursor {
  animation: blink 1s infinite;
  margin-left: 2px;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.DialogOverlay {
  background-color: black;
  opacity: 0.3;
  position: fixed;
  inset: 0;
  z-index: 9;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  @apply bg-userText-bg text-white rounded-lg shadow-md fixed top-1/2 left-1/2
  transform -translate-x-1/2 -translate-y-1/2 max-w-[110vh]
  max-h-[85vh] animate-[contentShow_150ms_cubic-bezier(0.16,1,0.3,1)];
}

.DialogContent:focus {
  outline: none;
}

.DialogButton {
  @apply hover:bg-secondary-color px-3 py-2 rounded-lg;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  font-size: 1.5rem;
}

.DialogDescription {
  margin: 10px 0 20px;
  font-size: 1.1rem;
  line-height: 1.5;
}

.AvatarRoot {
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
}

.AvatarImage {
  @apply object-cover w-[45px] h-[45px];
}

.AvatarFallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--violet-11);
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
}

.IconButton {
  @apply appearance-none rounded-full h-[30px] w-[30px] inline-flex items-center justify-center text-primary-green absolute top-[10px] right-[25px];
}

.IconButton:hover {
  @apply bg-primary-green text-white;
}

.IconButton:focus {
  @apply outline-none ring-2 ring-primary-green;
}

.avatarbutton {
  @apply hover:bg-secondary-color py-[.4rem] px-2 gap-2 w-full rounded-3xl items-center flex transition-all duration-150;
}

.avatarbutton h3 {
  @apply text-[1em] text-white transition-all duration-150 text-left;
}

.avatarbutton:hover h3 {
  @apply text-white;
}

.avatarbutton p {
  @apply text-[.75em] text-gray-300 transition-all duration-150;
}

.avatarbutton:hover p {
  @apply text-gray-300;
}

.userOptionButton {
  @apply w-full rounded-lg px-3 py-1 hover:bg-secondary-color hover:text-primary-bg transition-all duration-150;
}

/* END: ChatOptions styles */